# Compiled class file
*.class

# Log file
*.log
*.log.*

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA #
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# MAC OS #
**/.DS_Store
