# Compiled class file
*.class

# Log file
*.log
*.log.*

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA #
.idea
*.iws
*.iml
*.ipr

# MAC OS #
**/.DS_Store
